
.reset{
width:360px;
margin:50px auto;
font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
border-radius:10px;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px; 
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.10);
}
h4{
    font-size: 20px;
}
input {
    background-color:#ffffff;
    width: 100%;
    outline: none;
    padding: 10px;
}
input:focus{
    border: 1.5px solid #ff471a;
}
.but {
    border-radius: 5px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 10px;
    width: 50%;
}

.but:active {
    transform: scale(0.98);
}
.but:focus {
    outline: none;
}
body{
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 30px ;
    

}
.eyeviews{       
top:10px; 
position: absolute;
left: 330px;
margin-top: 10px;
font-size: 20px;
color: #999;
cursor: pointer;
}
.eyeviews.active{
    color: #ff471a;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  height: 58px;
  position:relative;
}

#pass2Id,#pass1Id {
    color: red;
    font-weight: bold;
    margin-right: 125px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 15px;
}
#emailId{
    color: red;
    font-weight: bold;
    margin-right: 125px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 15px;
}